<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         backupGlobals="false"
         backupStaticAttributes="false"
         beStrictAboutChangesToGlobalState="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="true"
         timeoutForLargeTests="9"
         timeoutForMediumTests="3"
         timeoutForSmallTests="1"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <report>
            <clover outputFile="./build/seafile-php-sdk-clover.xml"/>
            <html outputDirectory="./build/phpunit-result/seafile-php-sdk-current"/>
            <text outputFile="php://stdout" showUncoveredFiles="false"/>
        </report>
    </coverage>
    <php>
    </php>
    <testsuites>
        <testsuite name="SdoBitmask Test Suite">
            <directory>./test</directory>
        </testsuite>
    </testsuites>
    <logging/>
</phpunit>
